# Core functionality - changes here should be rare!
/src/app.py                   @cschindlbeck
/src/backend/database.py      @cschindlbeck
/src/backend/routers/auth.py  @cschindlbeck

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cschindlbeck
